:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: white;
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

/* Resto del CSS */

.school {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.student {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.time {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.alumni {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.alumni,
.school,
.student,
.time {
  width: 100%;
  height: 150px;
  background-size: cover;
}
.container {
  max-width: 700px;
  margin: auto;
  margin-top: 200px;
  padding: 20px 0px 20px 0px;
  background-color: var(--primary-color);
  border-radius: 30px;
  gap: 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
}

header {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: var(--blue-color);
  color: var(--secondary-color);
  padding: 10px;
  display: grid;
}
h1 {
  font-size: 18px;
}
header > p {
  font-size: 10px;
  align-items: center;
}
main {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: var(--secondary-color);
  font-size: 10px;
  color: var(--blue-color);
  border: var(--border);
  align-content: center;
  text-align: center;
}
footer {
  grid-column: 2/4;
  grid-row: 3/4;
  background-color: var(--orange-color);
  color: var(--primary-color);
  padding: 10px;
}
h3 {
  font-size: 12px;
}
footer > p {
  font-size: 10px;
}
footer > button {
  width: 100px;
  height: 40px;
  border-style: none;
  font-size: 9px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px;
    padding: 10px;
  }

  .container > * {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .alumni,
  .school,
  .student,
  .time,
  main {
    height: 120px;
    font-size: 9px;
  }
  header {
    height: 200px;
  }
  header > p {
    font-size: 7px;
  }
  footer > p {
    font-size: 7px;
  }
  footer button {
    height: 25px;
    width: 50%;
  }
}
